@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    background-color: tomato!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    max-height: 20vh;
    width: 100%;
    overflow-y: auto;
}

li:hover {
    cursor: pointer;
    background-color: tomato;
    color: #fff;
}

#basic-addon1 {
    background: tomato;
    color: #fff;
}

#basic-addon1:hover {
    cursor: pointer;
}